@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family:"Roboto";
    
}
body{
    background-color: rgba(22, 29, 54, 0.899);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    /* overflow: visible; */
    /* height: 100vh; */
}
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style:normal;
    text-align: center;
    color:hsla(227, 42%, 8%, 0.899);
}
p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
li{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal; 
}
.container{
    height: 600px;
    min-width: 55%;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    gap: 60px;
   
    
}

ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 43px;
    
}
li{
    background-image: url(icon-list.svg);
    background-repeat: no-repeat;
    background-position: 0.4em;
    padding-left: 40px;
    /* background-position-y: -0.08em; */
    padding-top:1.1px;
    padding-bottom: 1.1px;
    margin: 0%;
    
}
.texts-area{
    /* border: 1px solid green; */
    height: fit-content;
    min-width: 100;
    padding: 20px;
}

.right-side{
    min-width: 400px;
    height: 593px;
    background-image: url(illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    /* border: 1px solid blue; */
}
h3{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.email{
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 410px;
    border-radius: 8px;
    border: 1px solid grey;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-left: 30px;
    
}
/* .email::placeholder{
    padding-left: 35px;
} */
.email:hover{
    cursor: pointer;
}
.submit{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color:rgba(23, 30, 56, 0.899);
    color: white;
    
}
.submit:hover{
    cursor: pointer;
    background: linear-gradient(to right , hsl(340, 75%, 63%), hsl(370, 100%, 65%));
    /* box-shadow: 1px 8px 18px hsla(0, 0%, 0%, 0.392); */
    box-shadow: 1px 8px 18px hsl(370, 100%, 85%) ;
}
.btn{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.email-address{
    display: inline-block;
    margin-bottom: 6px;
    font-weight: bold;
}
.error{
    float: right;
    color: hsl(0, 100%, 44%);
    display: none;
    margin-bottom: 6px;
    margin-right: 14px;
}
a{
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    body{
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0%;
        margin: 0%;
        padding-right: 0%;
        padding-top: 500px;
        overflow-x: hidden;
        /* width: fit-content; */
        padding-right: 0px;
        padding-top: 0%;
    }
    .container{
        flex-direction: column-reverse;
        width: 375px;
        height: fit-content;
        padding: 0%;
        margin: 0%;
        border-radius: 0%;
        gap: 0px;
        padding-bottom: 0;
        justify-content: start;
        align-items: normal;
        overflow-x: scroll;
    }

    .right-side{
        background-image: url(illustration-sign-up-mobile.svg);
        max-width: 375px;
        max-height: 284px;
        margin: 0%;
        
    }
    .texts-area{
        margin-bottom: 100px;
        /* text-align: justify; */
        width: 320px;
        /* border: 1px solid green; */
        margin: 0%;
        padding-top: 0%;
    }
    h1{
        text-align: left;
    }
    
    form{
        /* border: 1px solid red; */
        width: 335px;
        margin-bottom: 0%;
        /* margin-right: 20px; */
    }
    .submit{
        width: 100%;
        
    }
    .email{
        max-width: 300px;
    }
   
}

@media screen and (max-width: 768px) {
    .container{
     min-width: 90%;
    }
    body{
     padding: 0px;
    }
 
 }
 

@media screen and (min-width: 1024px) {
   .container{
    min-width: 70%;
   }
   body{
    padding: 10px;
   }

}

@media screen and (min-width: 1280px) {
    .container{
        min-width: 70%;
    }
}

@media screen and (min-width: 1440px) {
    .container{
        min-width: 70%;
    }

}
@media screen and (min-width: 1500px) {
    .container{
        min-width: 60%;
    }
}

@media screen and (min-width: 1700px) {
    .container{
        min-width: 40%;
        padding: 10px;
        
    }

}